In [5]:
1 + 2 + 5

8

In [6]:
n = "Hello!"
print(n)
print(n*4)

Hello!
Hello!Hello!Hello!Hello!

In [7]:
j = "Junhyuk"
print(n+j)

Hello!Junhyuk

In [8]:
n.upper()

'HELLO!'

In [9]:
type(1)

int

In [10]:
type(4.0)

float

In [11]:
print(10 * 1)
print(10/1)

10
10.0

In [12]:
j.upper()

'JUNHYUK'

# Heading 1

 <http://www.google.com>

In [32]:
l = ["adam","bob",30,"adam"]

In [33]:
print(l)

['adam', 'bob', 30, 'adam']

In [34]:
l.count("adam")

2